<h1>Sign In</h1>

<%= form_tag "/signin" do %>
    <% if flash[:alert] %>
        <p><div id="alert">
            <%= flash[:alert] %> 
        </div></p>
    <% end %>

    <label>Email: </label>
    <%= text_field_tag :email %><br><br>

    <label>Password: </label>
    <%= password_field_tag :password %><br><br>

    <%= submit_tag "Sign In" %>
<% end %>