<h1>Greetings, <%= @wizard.first_name %></h1>

<% if admin_only %>
    <i><h6>Retreat Admin</h6></i>
<% end %>

<b>Email: </b><%= @wizard.email %> <br />
<b>Full Name: </b><%= @wizard.full_name %><br />
<b>House (Click to see your housemates!): </b><%= link_to @wizard.house, wizards_path %><br /><br />

<% if current_wizard %>
    <button class="button" ><%= link_to "Edit Profile", edit_wizard_path(@wizard) %></button><br />

    <%= form_tag(wizard_path(@wizard), :method => :delete) do %>
        <button type="submit" class="destroy">Delete Profile</button> 
    <% end %><br>

<% end %>

<h1>My Courses</h1> 
<button class="button"><%= link_to "Register for Courses", courses_path %></button><br>
<button class="button" ><%= link_to "View/Edit/Cancel Existing Registrations", wizard_registrations_path(@wizard.id, @registrations) %></button><br><!-- to be fixed -->

<% @wizard.courses.each do |course| %> 
    <h4><%= link_to course.name, course_path(course) %></h4>
<% end %>