    <% if @course.errors %>
        <% @course.errors.full_messages.each do |error| %>
            <p style="color: red"><%= error %></p>
        <% end%>
    <% end %>
    

    <%= form_for @course do |f| %>

         <%= f.label :name %>
        <%= f.text_field :name %><br /><br />

        <%= f.label :description %>
        <%= f.text_area :description %><br /><br />

        <%= f.label :location %>
        <%= f.select :location, [['Great Hall'], ['Dungeons'], ['Common Room'], ['Library'], ['Loft'], ['Astronomy Tower'], ["Quiddith Pitch"]]%><br /><br />

        <%= f.label :maximum_participants %>
        <%= f.number_field :maximum_participants %><br /><br />

        <%= f.submit nil, class: "button"%>
        
    <% end %>
